@padding_table: 15px;
@thead_background_color: #1abc9c;
@tbody_background_color: #f39c12;

table {
	padding: @padding_table;
	thead {
		background-color: @thead_background_color;
		&:hover {
			background-color: @thead_background_color - 20;
		}
	}
	tbody {
		background-color: @tbody_background_color;
		tr {
			&:hover {
				background-color: @tbody_background_color - 20;
			}
		}
	}
}