table {
  padding: 15px;
}
table thead {
  background-color: #1abc9c;
}
table thead:hover {
  background-color: #06a888;
}
table tbody {
  background-color: #f39c12;
}
table tbody tr:hover {
  background-color: #df8800;
}
